<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=650, initial-scale=0.9">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="It's a tool to tag">
  <meta name="author" content="Rouven Bauer, Jörn Hees, DFKI">

  {{ static_tag("/img/favicon/apple-icon-60x60.png", tag="link", rel="apple-touch-icon", sizes="60x60") }}
  {{ static_tag("/img/favicon/apple-icon-57x57.png", tag="link" ,rel="apple-touch-icon", sizes="57x57") }}
  {{ static_tag("/img/favicon/apple-icon-76x76.png", tag="link" ,rel="apple-touch-icon", sizes="76x76") }}
  {{ static_tag("/img/favicon/apple-icon-114x114.png", tag="link" ,rel="apple-touch-icon", sizes="114x114") }}
  {{ static_tag("/img/favicon/apple-icon-120x120.png", tag="link" ,rel="apple-touch-icon", sizes="120x120") }}
  {{ static_tag("/img/favicon/apple-icon-144x144.png", tag="link" ,rel="apple-touch-icon", sizes="144x144") }}
  {{ static_tag("/img/favicon/apple-icon-152x152.png", tag="link" ,rel="apple-touch-icon", sizes="152x152") }}
  {{ static_tag("/img/favicon/apple-icon-180x180.png", tag="link" ,rel="apple-touch-icon", sizes="180x180") }}
  {{ static_tag("/img/favicon/android-icon-192x192.png", tag="link", rel="icon", type="image/png", sizes="192x192") }}
  {{ static_tag("/img/favicon/favicon-32x32.png", tag="link", rel="icon", type="image/png", sizes="32x32") }}
  {{ static_tag("/img/favicon/favicon-96x96.png", tag="link", rel="icon", type="image/png", sizes="96x96") }}
  {{ static_tag("/img/favicon/favicon-16x16.png", tag="link", rel="icon", type="image/png", sizes="16x16") }}
  {{ static_tag("/img/favicon/manifest.json", tag="link", rel="manifest") }}
  <meta name="msapplication-TileColor" content="#ffffff">
  {{ static_tag("/img/favicon/apple-icon-72x72.png", tag="link", rel="apple-touch-icon", sizes="72x72") }}
  <meta name="theme-color" content="#ffffff">
  {{ static_tag("/img/favicon/ms-icon-144x144.png", url_attr="content", tag="meta", name="msapplication-TileImage") }}


  <title>{% block title %}TagTool{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  {{ static_tag("/css/libs/bootstrap.css") }}

  <!-- Bootstrap slider -->
  {{ static_tag("/css/libs/bootstrap-slider.css") }}

  <!-- jQueryUI CSS -->
  {{ static_tag("/css/libs/jquery-ui.css") }}
  {{ static_tag("/css/libs/jquery-ui.structure.css") }}
  {{ static_tag("/css/libs/jquery-ui.theme.css") }}

  {% if touch_support %}
    {{ static_tag("/css/touch.css") }}
    <!-- keyboard widget cdd -->
    {{ static_tag("/css/libs/keyboard.css") }}
    {{ static_tag("/css/keyboard_custom.css") }}

    <!-- clock -->
    {{ static_tag("/css/libs/clock.css") }}
    <style type="text/css">
      #clock-wrapper {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 30px;
      }
    </style>
  {% endif %}

  <!-- Custom styles for this template -->
  {{ static_tag("/css/global.css") }}
  {% block extracss %}{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script type="text/javascript">
      // Fix for Firefox autofocus CSS bug
      // See: http://stackoverflow.com/questions/18943276/html-5-autofocus-messes-up-css-loading/18945951#18945951
  </script>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/{% if touch_support %}touch/{% endif %}">
          {{ static_tag(branding_logo_url, tag="img", class="logo", alt="logo") }}
          {{ branding_name }}
        </a>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- drop down -->
          <li>
            <a class="dropdown-toggle" role="button" tabindex="0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if nav_active == "clouds" %}
                <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
              {% elif nav_active == "graphs" %}
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              {% elif nav_active == "io" %}
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
              {% endif %}
              Visualization
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu">
              <li {% if nav_active == "clouds" %}class="active"{% endif %}>
                <a id="nav-clouds-link" href="clouds.html">
                  <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
                  Clouds
                </a>
              </li>
              <li {% if nav_active == "graphs" %}class="active"{% endif %}>
                <a id="nav-graph-link" href="graphs.html">
                  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                  Graphs
                </a>
              </li>
              <li {% if nav_active == "io" %}class="active"{% endif %}>
                <a id="nav-io-link" href="io.html">
                  <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                  Im-/Export
                </a>
              </li>
              <li {% if nav_active == "stats" %}class="active"{% endif %}>
                <a id="nav-io-link" href="stats.html">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                  Statistics
                </a>
              </li>
            </ul>
          </li>
        </ul>

        {% if nav_active == "clouds" %}
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a id="add-cloud" href="#">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Cloud
              </a>
            </li>
          </ul>
        {% endif %}

        <ul class="nav navbar-nav navbar-right toolbar">
          {% block navbar_buttons %}{% endblock %}
          {% if show_user_counter | default(False) -%}
          <li id="user-counter" class="counter"
              data-toggle="tooltip" data-placement="bottom" title="Current users online">
            <a>
              <span id="user-count"></span>
              <span class="in-full-menu-inline glyphicon glyphicon-user" aria-hidden="true"></span>
              <span class="in-collapsed-menu-inline glyphicon glyphicon-user" aria-hidden="true"></span>
              <small class="in-collapsed-menu-inline text-muted">(Current users online)</small>
            </a>
          </li>
          {% endif -%}
          {% if show_recently_changed_counter | default(False) -%}
          <li id="recently-changed-counter" class="counter" style="display: none"
              data-toggle="tooltip" data-placement="bottom" title="Recently changed items">
            <a>
              <span id="recently-changed-count"></span>
              <span class="in-full-menu-inline glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
              <span class="in-collapsed-menu-inline glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
              <small class="in-collapsed-menu-inline text-muted">(Recently changed items)</small>
            </a>
          </li>
          {% endif -%}
          {% if touch_support -%}
            {% for app in touch_apps %}
              <li>
                <a href="{{ app[1] }}">
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true" style="margin-right: 0;"></span>
                  {{ app[0] }}
                </a>
              </li>
            {% endfor %}
            <li id="clock-wrapper">
            </li>
          {% endif -%}
          {% if not hide_auth | default(False) -%}
            <li id="login" style="display: none"
                data-toggle="tooltip" data-placement="bottom" title="Enter edit mode">
              <a href="/login.html" arial-label="login">
                <span class="in-full-menu-inline glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <span class="in-collapsed-menu-inline glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <small class="in-collapsed-menu-inline text-muted">(Enter edit mode)</small>
              </a>
            </li>
            <li id="logout" style="display: none"
                data-toggle="tooltip" data-placement="bottom" title="Leave edit mode">
              <a href="/logout" arial-label="logout">
                <span class="in-full-menu-inline glyphicon glyphicon glyphicon-lock" aria-hidden="true"></span>
                <span class="in-collapsed-menu-inline glyphicon glyphicon glyphicon-lock" aria-hidden="true"></span>
                <small class="in-collapsed-menu-inline text-muted">(Leave edit mode)</small>
              </a>
            </li>
          {% endif -%}
        </ul>
      </div>
    </div>
  </nav>

  <!-- content -->
  {% block content %}
    <div id="main" class="container-fluid">
      {% block main %}{% endblock %}
    </div>
  {% endblock %}

  {% include 'helper/footer.html' %}


<div class="modal-load-overlay{% if loading_at_start | default(False) %} active{% endif %}">
  <div class="modal-load-center">
    <div class="ball"></div>
    <div class="ball1"></div>
    <p>loading</p>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{{ static_tag('/js/libs/require.js') }}
{{ static_tag('/js/common.js') }}
{% if touch_support %}
  {{ static_tag('/js/touch_support.js') }}
{% endif %}
{% block extrascript %}{% endblock %}
{{ static_tag('/js/global.js') }}
</body>
</html>
