<footer class="footer">
  <div class="container">
    <span class="text-muted pull-left">
      &copy; <a href="https://www.letstag.it/">letstag.it</a>, 2016-{{ year }}

    </span>
    <span class="text-muted pull-right">
      <a href="api.html">API Documentation</a> &middot;
      <a href="https://gitlab.com/tagtool/tagtool">Source Code</a>
    </span>
  </div>
</footer>
