body {
    min-height: 800px;
    overflow-y: auto;
}

.fixed {
    position: fixed;
}

#sidebar {
    /*overflow-y: scroll;*/
    /*height: 100%;*/
}

/* sidebar */
.bs-docs-sidebar {
    top: 60px;
    left: 20px;
    bottom: 60px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #563d7c;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}

.nav-anchor {
    padding-top: 50px;
    margin-top: -50px;
}

#live-api-modal .result {
    display: none;
}

.api-example {
    cursor: pointer;
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.api-example:hover {
    cursor: pointer;
    background-color: #286090;
    border-color: #204d74;
}
