html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* padding bottom by footer height */
  padding-bottom: 70px;
}

#main {
  padding-top: 15px;
  padding-bottom: 15px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  z-index: 10;
}

span.disabled {
  opacity: .65;
  filter: alpha(opacity=65);
  cursor: not-allowed;
}

ol {
  padding-left: 1.5em;
}

:not(li) > ol.nested {
  counter-reset: main;
  list-style-type: none;
}

:not(li) > ol.nested > li:before {
  counter-increment: main;
  content: counter(main) " ";
}

:not(li) > ol.nested > li > ol {
  counter-reset: sub1;
  list-style-type: none;
}

:not(li) > ol.nested > li > ol > li:before {
  counter-increment: sub1;
  content: counter(main) "." counter(sub1) " ";
}

:not(li) > ol.nested > li > ol > li > ol {
  counter-reset: sub2;
  list-style-type: none;
}

:not(li) > ol.nested > li > ol > li > ol > li:before {
  counter-increment: sub2;
  content: counter(main) "." counter(sub1) "." counter(sub2) " ";
}

label:not(.btn) {
    margin-top: 10px;
}

.grayscale {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
}

/**********\
** navbar **
\**********/
.in-full-menu-inline {
    display: inline;
}
.in-full-menu-block{
    display: block;
}
.in-collapsed-menu-inline,
.in-collapsed-menu-block {
    display: none;
}

@media (max-width: 768px) {
    .navbar-nav li .navbar-form {
        margin: 0;
    }
    .in-collapsed-menu-inline {
        display: inline;
    }
    .in-collapsed-menu-block {
        display: block;
    }
    .in-full-menu-inline,
    .in-full-menu-block{
        display: none;
    }
}

.navbar span.glyphicon {
  margin-right: .8em;
}

.navbar-brand > .logo {
    height: 1em;
    display: inline-block;
}

.navbar .explanation:not(.permanent) {
    -webkit-transition: opacity 0.1s, max-width 0.1s 0.1s ease, margin 0.1s 0.1s ease;
    -moz-transition: opacity 0.1s, max-width 0.1s 0.1s ease, margin 0.1s 0.1s ease;
    -ms-transition: opacity 0.1s, max-width 0.1s 0.1s ease, margin 0.1s 0.1s ease;
    -o-transition: opacity 0.1s, max-width 0.1s 0.1s ease, margin 0.1s 0.1s ease;
    transition: opacity 0.1s, max-width 0.1s 0.1s ease, margin 0.1s 0.1s ease;
    display: inline-block;
    opacity: 0;
    max-width: 0;
    max-height: 0;
    margin: 0;
    visibility: hidden;
    vertical-align: top;
}

.navbar .explanation.visible,
.navbar .explanation.permanent {
    -webkit-transition: opacity 0.2s 0.3s, max-width 0.3s ease;
    -moz-transition: opacity 0.2s 0.3s, max-width 0.3s ease;
    -ms-transition: opacity 0.2s 0.3s, max-width 0.3s ease;
    -o-transition: opacity 0.2s 0.3s, max-width 0.3s ease;
    transition: opacity 0.2s 0.3s, max-width 0.3s ease;
    opacity: 1;
    max-width: 200px;
    margin: 0 5px;
    visibility: visible;
}

.navbar li > a:focus,
.navbar a.navbar-brand:focus {
    outline: #4d90fe solid 2px;
}

.dropdown-menu .sub-menu {
    margin-left: 20px;
}

/*****************\
** slider styles **
\*****************/

.slider-container {
    padding-left: 40px;
    padding-right: 80px;
    margin-top: 5px;
    display: table;
    white-space: nowrap;
}
.slider-container > .slider-row {
    display: table-row;
}
.slider-container > .slider-row > * {
    display: table-cell;
}
.slider-container > .slider-row > *:not(:first-child) {
    padding-left: 10px;
}
.slider-container > .slider-row > *:not(:last-child) {
    padding-right: 10px;
}
.slider-container > .slider-row > .slider {
    width: 100%;
}



/*****************\
** loading modal **
\*****************/
.modal-load-overlay {
    display: table;
    z-index: 9001;  /* over 9000!!! */
    background-color: rgba(0, 0, 0, .55);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    -moz-transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    -ms-transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    -o-transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;

    opacity: 0;
    visibility: hidden;
}

.modal-load-overlay.active{
    opacity: 1;
    visibility: visible;
    -webkit-transition: visibility 0s, opacity 0.3s ease-in-out;
    -moz-transition: visibility 0s, opacity 0.3s ease-in-out;
    -ms-transition: visibility 0s, opacity 0.3s ease-in-out;
    -o-transition: visibility 0s, opacity 0.3s ease-in-out;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.modal-load-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    top: 50px;
}

.modal-load-center > p {
    top: -50px;
    position: relative;
}
.modal-load-overlay .ball {
    background-color: rgba(0,0,0,0);
    border: 8px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 8px solid rgba(0,0,0,0);
    border-left: 8px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 70px #2187e7;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.modal-load-overlay .ball1 {
    background-color: rgba(0,0,0,0);
    border: 8px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 8px solid rgba(0,0,0,0);
    border-left: 8px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 30px #2187e7;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

#recently-changed-counter a,
#user-counter a {
    cursor: pointer;
}

#user-counter *,
#recently-changed-counter *,
#login * ,
#logout * {
    color: #ffffff;
}

.modal .form-horizontal .form-group > * {
    padding: 2px;
}
.modal .form-horizontal .form-group > :first-child {
    padding-left: 15px;
}
.modal .form-horizontal .form-group > :last-child {
    padding-right: 15px;
}

textarea.form-control.single-line {
    resize: none;
    height: 34px;
    white-space: nowrap;
    overflow: hidden;
}

.typeahead.dropdown-menu a[role="option"] {
    overflow: hidden;
    text-overflow: ellipsis;
}


/********************************************************************************\
** Bootstrap callouts (https://cpratt.co/twitter-bootstrap-callout-css-styles/) **
\********************************************************************************/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
