.graph {
    height: 350px;
    padding: 0;
    position: relative;
}

body > div#main.container {
    width: 100%;
    padding: 0;
}

html, body, #main {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#main {
    flex-grow: 1;
    position: relative;
}

#canvas {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
}

#main {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

circle.node {
    stroke-width: 1px;
    stroke: #666;
}

/* smooth hover transitions */
svg g.node-group {
    transition: opacity .3s ease;
}

svg g.node-group text.smooth-transform {
    transition: transform .3s ease;
}

.node-group circle {
    transition: stroke .3s;
}

svg g.node-group circle.shadow {
    opacity: 0;
    display: none;
    transition: opacity .3s;
}
svg.selected g.node-group.selected circle.shadow {
    opacity: 1;
    display: block;
    transition: opacity .3s;
}

line.link {
    transition: stroke .4s;
}

.node-group {
    opacity: 1;
    cursor: pointer;
}

line.link {
    fill: none;
    stroke: rgba(96, 96, 96, .1);
    stroke-width: 1px;
}

svg.selected g.node-group {
    transition: opacity .5s ease .3s;
    opacity: .3;
}

svg.selected g.node-group.selected {
    opacity: 1;
}
svg.selected g.node-group.selected circle {
    stroke: black;
}
svg.selected g.node-group.selected text {
    text-shadow: 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white,
                 0 0 2px white;
    /* viel hilft viel ;)*/
}
svg.selected g.node-group.selected text.smooth-transform {
    transition: transform .4s ease .1s;
}

svg.selected g.node-group.linked {
    opacity: 1;
}

svg.selected .link {
    stroke: rgba(96, 96, 96, .05);;
}

svg.selected .link.linking {
    stroke: black;
}


#graph-controls {
    background-color: #555555;
    color: white;
    padding-bottom: 10px;
}

#graph-controls h3 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
    padding: 10px 0 0 20px;
}

#force-settings div.checkbox {
    display: inline-block;
}
#force-settings div.checkbox input.checkbox[type=checkbox] {
    position: relative;
    margin-left: 10px;
}
#force-settings div.checkbox label {
    font-weight: bold;
    padding-left: 0;
}
#force-settings div.checkbox::after {
    display: block;
}

#force-settings div.select::after {
    display: inline-block;
}

#force-settings div {
    padding-left: 40px;
}
