.panel {
    min-width: 310px;
}

.graph-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.graph-elem-count-cc {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 10em;
}

#degree-histogram > svg {
    padding-left: 60px;
    min-width: 460px;
}
