{% extends 'helper/base.html' %}

{% block extracss %}
  {{ static_tag("/css/api.css") }}
{% endblock %}

{% block extrascript %}
  {{ static_tag("/js/api_doc.js") }}
{% endblock %}

{% block main %}
  <div class="spacer col-xs-3"></div>
  <nav class="col-xs-3 bs-docs-sidebar fixed">
    <ul id="sidebar" class="nav nav-stacked">
      <li>
        <a href="#intro">Introduction</a>
      </li>
      <li>
        <a href="#etag">The ETag</a>
        <ul class="nav nav-stacked">
          <li><a href="#etag-get">GET</a></li>
        </ul>
      </li>
      <li>
        <a href="#auth">Authorization</a>
        <ul class="nav nav-stacked">
          <li><a href="#token-get">GET token</a></li>
          <li><a href="#auth-status">GET auth-status</a></li>
        </ul>
      </li>
      <li>
        <a href="#strict">Strict mode</a>
      </li>
      <li>
        <a href="#categories">Categories</a>
        <ul class="nav nav-stacked">
          <li><a href="#categories-put-delete">PUT/DELETE</a></li>
          <li><a href="#categories-get">GET</a></li>
        </ul>
      </li>
      <li>
        <a href="#elements">Elements</a>
        <ul class="nav nav-stacked">
          <li><a href="#elements-put-delete">PUT/DELETE</a></li>
          <li><a href="#elements-get">GET</a></li>
          <li><a href="#elements-search">Search</a></li>
        </ul>
      </li>
      <li>
        <a href="#links">Links</a>
        <ul class="nav nav-stacked">
          <li><a href="#links-put-delete">PUT/DELETE</a></li>
          <li><a href="#links-get">GET</a></li>
        </ul>
      </li>
      <li>
        <a href="#similarities">Similarities</a>
        <ul class="nav nav-stacked">
          <li><a href="#similarities-get">GET</a></li>
        </ul>
      </li>
      <li>
        <a href="#diffs">Diffs</a>
        <ul class="nav nav-stacked">
          <li><a href="#diffs-querying">Querying</a></li>
          <li><a href="#diffs-structure">Structure</a></li>
          <li><a href="#diffs-ws">WebSocket</a></li>
        </ul>
      </li>
      <li>
        <a href="#rename">Renaming</a>
        <ul class="nav nav-stacked">
          <li><a href="#rename-cat">Category</a></li>
          <li><a href="#rename-elem">Element</a></li>
        </ul>
      </li>
      <li>
        <a href="#bulk">Bulk action</a>
      </li>
      <li>
        <a href="#changes">Changes</a>
        <ul class="nav nav-stacked">
          <li><a href="#changes-get">GET</a></li>
        </ul>
      </li>
      <li>
        <a href="#user-count">User count</a>
        <ul class="nav nav-stacked">
          <li><a href="#user-count-get">GET</a></li>
          <li><a href="#user-count-ws">WebSocket</a></li>
        </ul>
      </li>
      <li>
        <a href="#ws">WebSocket</a>
        <ul class="nav nav-stacked">
          <li><a href="#ws-diff">Diff</a></li>
          <li><a href="#ws-user-count">User count</a></li>
          <li><a href="#ws-js-client-example">Example</a></li>
        </ul>
      </li>
      <li>
        <a href="#settings">Settings</a>
        <ul class="nav nav-stacked">
          <li><a href="#settings-get">GET</a></li>
          <li><a href="#settings-put">PUT</a></li>
          <li><a href="#settings-structure">Structure</a></li>
        </ul>
      </li>
      <li>
        <a href="#io">IO (Im-/Export)</a>
        <ul class="nav nav-stacked">
          <li><a href="#io-get">GET</a></li>
          <li><a href="#io-post">POST</a></li>
          <li><a href="#io-structure">Structure</a></li>
          <li><a href="#io-format">Format</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="panel panel-default panel-body col-xs-9">
    <h1 id="intro" class="nav-anchor">API Documentation</h1>
    <p class="text-info">Conventions:</p>
    <ol class="text-info">
      <li>The API will return all results in json format.</li>
      <li>We'll use the terms "category", "element", and "link" for the data.<br />
        Each category has 0..n elements, each element has 1 category. Category names
        are unique. Element names are unique within their category. Links connect
        exactly two elements (no matter weather they're in the same or in two
        different categories) and are undirected.
      </li>
      <li><span class="text-danger">Double url encode strings in urls</span>
        (e.g. if you want to query <code>/api/category/&lt;catname&gt;</code> with
        <code>catname := "text/javascript"</code> then query
        <code>/api/category/text%252Fjavascript</code>).
      </li>
      <li>Some elements have a special syntax (similar to markdown):
        <ol>
          <li>
            Links: <code>[title](url)</code>. If <code>]</code> or <code>[</code>
            is needed in the title, it must be escaped with a <code>\</code>.
            Like so: <code>[Cool \] bracket](url)</code>. The full matching RegEx
            with anonymous title and url group reads as
            <a href="https://regex101.com/r/B5y7qf/1">
              <code>^\[((?:[^\]\[]|\\\[|\\\])*)\]\(([^()]*)\)$</code>
            </a> For links the title is also a valid ID in URLs. Therefore, no
            two links with the same title can exist within one category. E.g.
            <code>[cool] element</code> and <code>[\[cool\] element](http://with-link.com)</code>
            would collide inside the same category.<br />
            <div class="bs-callout bs-callout-danger">
              <h4>Sanity checks</h4>
              <p>
                There is no server-side sanity
                check done on the links. There might be <code>http:</code>,
                <code>ftp:</code>, or even <code>javascript:</code> URIs among
                the links.
              </p>
            </div>
          </li>
        </ol>
      </li>
    </ol>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="etag">The ETag</h2>
      </div>
      <div class="panel-body">
        <p>
          Each successful call to the api  will result in a response with the
          hedaer field <code>ETag</code> set. The value of that field is the
          timestamp of the latest database version. If you do a request
          to the api you may pass the database version your client is currently
          working on in the <code>ETag</code> header field or as parameter
          <code>db_version</code> if you prefer. This will help to avoid race
          conditions. If you try to change things in the database while passing
          an outdated database version, the server will return with a <code>409</code>
          status code. If you specify the <code>ETag</code>-header and the
          <code>db_version</code> parameter, the parameter is preferred and the
          header field will be ignored. <br />
          You are free to omit the database version (sending no <code>ETag</code>
          in the header and setting no <code>db_version</code> parameter). The
          database will then of course omit the version check and just tries to
          do the change.
          <span class="alert-warning">Beware that this may cause race conditions.</span>
        </p>
        <p class="alert-warning">
          The <a href="#settings">settings</a> are excluded from all of this,
          because they are stored separately and don't have any kind of versioning.
        </p>

        <hr />

        <h3 id="etag-get" class="nav-anchor">Getting the timestamps</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/all_timestamps"
             data-api-query-var="null">GET /api/all_timestamps</pre>
        <p>This will return a list of timestamps as strings:</p>
        <pre>
[
  "&lt;string:timestamp1&gt;",
  "&lt;string:timestamp2&gt;",
  ...
]
        </pre>
        <hr />
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="auth">Authorization</h2>
      </div>
      <div class="panel-body">
        <p>
          Some TagTool instances may be secured by a password. There are three
          ways to authenticate. Furthermore, the read-only option might be enabled
          which allows all <code>GET</code> requests (except <code>/api/token</code>)
          even without previous authentication.
        </p>
        <ul>
          <li>
            Send the password or the auth-token along with the
            <code>auth</code> parameter.
          </li>
          <li>Send the password along with the <code>password</code> parameter.</li>
          <li>Send the auth-token in a cookie called <code>TagToolAuth</code>.</li>
        </ul>
        <p>
          For every successful request against an endpoint of a password
          protected TagTool instance, a <code>Set-Cookie</code> header will be
          set in the response. The new cookie will correspond to the one
          described as third authentication method above.
        </p>
        <hr />
        <h3 class="nav-anchor" id="token-get">Getting the auth token</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/token"
             data-api-query-var="null">GET /api/token</pre>
        <p>
          This will return the auth token. Of course, you have to be
          authenticated to do so. Note that <code>204</code> with empty body is
          returned if the instance isn't password protected.
        </p>
        <hr />
        <h3 class="nav-anchor" id="auth-status">Getting the auth settings</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/auth_status"
             data-api-query-var="null">GET /api/auth_status</pre>
        <p>
          This will return a json status object like this:
        </p>
        <pre>
{
  'passwordSet': &lt;boolean if instance is password protected&gt;,
  'readOnly':    &lt;boolean if read-only mode is enabled&gt;,
  'loggedIn':    &lt;boolean if the request is authenticated&gt;
}
        </pre>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="strict">Strict mode</h2>
      </div>
      <div class="panel-body">
        <p>
          All PUT and DELETE calls (except for the <a href="#settings">settings</a>) as well as the
          <a href="#bulk">bulk action</a> accept a parameter <code>strict</code> that can be set to
          <code>true</code> or <code>false</code> (<em>dafault</em>).
          If set to <code>true</code> the server will return status code <code>404</code> if
          you try to delete a non-existing entity and <code>400</code> if you try to add an existing one.
          If set to <code>false</code> those exceptions will be ignored silently.
          This applies recursively which means, if you e.g. delete an element which
          automatically results in deletion of all of it's links, it would be
          silently ignored if one or more of those links don't exist.
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="categories">Working with categories</h2>
      </div>
      <div class="panel-body">
        <h3 id="categories-put-delete" class="nav-anchor">Adding, Deleting</h3>
        <pre>PUT/DELETE /api/category/&lt;string:name&gt;</pre>
        <p>PUT will create the category, while DELETE will delete it.</p>
        <hr />
        <h3 id="categories-get" class="nav-anchor">Getting</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/category/"
             data-api-query-var="<string:name>">GET /api/category/&lt;string:name&gt;</pre>
        <p>This will return all elements of the specified category as nested list like this:</p>
        <pre>
[
  [
    "&lt;string:category_name&gt;",
    "&lt;string:element_name&gt;"
  ],
  [
    ...
  ],
  ...
]
        </pre>
        <p>Or you can get all categories, their elements, and number of links of each element by calling</p>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/categories"
             data-api-query-var="null">GET /api/categories</pre>
        <p>The result will look like this:</p>
        <pre>
{
  "&lt;string:category_name&gt;": {
    "&lt;string:element_name&gt;": &lt;integer:link_count&gt;,
    "&lt;string:element_name&gt;": &lt;integer:link_count&gt;,
    ...
  },
  "&lt;string:category_name&gt;": {
    ...
  },
  ...
}
        </pre>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="elements">Working with elements</h2>
      </div>
      <div class="panel-body">
        <h3 id="elements-put-delete" class="nav-anchor">Adding, Deleting</h3>
        <pre>PUT/DELETE /api/category/&lt;string:category_name&gt;/&lt;string:element_name&gt;</pre>
        <p>PUT will create the element, while DELETE will delete it.</p>
        <hr />
        <h3 id="elements-get" class="nav-anchor">Getting</h3>
        You can get all links of an element (links are undirected).
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/category/"
             data-api-query-var="<string:category_name>/<string:element_name>">GET /api/category/&lt;string:category_name&gt;/&lt;string:element_name&gt;</pre>
        The result will look like this:
        <pre>
[
  [
    [
      "&lt;string:category_name_source&gt;",
      "&lt;string:element_name_source&gt;"
    ],
    [
      "&lt;string:category_name_target&gt;",
      "&lt;string:element_name_target&gt;"
    ]
  ],
  [
    ...
  ]
]
        </pre>
        <p>
          Links are represented as list of lists with two elements.
          <span class="text-danger">The order (i.e. which element will be source and which target) is not specified!</span>
        </p>
        <hr />
        <h3 id="elements-search" class="nav-anchor">Searching</h3>
        <p>You can search for elements.</p>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/search?"
             data-api-query-var="<search parameters>">GET /api/search?q=&lt;query&gt;&amp;cat=&lt;cat&gt;&amp;forcefuzzy=&lt;force fuzzy search&gt;&amp;fuzzthresh=&lt;fuzzy threshold&gt;&amp;fuzzlimit=&lt;fuzzy limit&gt;</pre>
        <p>Will return a list of list of category element pairs link so:</p>
        <pre>
[
  [
    "&lt;string:category_name&gt;",
    "&lt;string:element_name&gt;"
  ],
  [
    ...
  ],
  ...
]
        </pre>
        <p>Parameters:</p>
        <ul>
          <li>
            <code>q</code> (<code>string</code>, default: ""): the query string
          </li><li>
            <code>cat</code> (<code>string</code>, default: no restriction):
            Restrict the search to a category. Raises 404 if category doesn't exist
          </li><li>
            <code>forcefuzzy</code> (<code>bool</code>, default: true):
            If true, only a fuzzy search will be performed. Elsewise the search
            works in 5 stages: perfect match, case-insensitive match, case- and
            whitespace-insensitive match, case- and whitespace-insensitive
            infix match. The first stage that yields results will cancel the
            later ones. Only if none of the 4 previous stages find matches the
            fuzzy search will be run as 5<sup>th</sup> stage.
          </li><li>
            <code>fuzzthresh</code> (<code>float</code>, default: 60):
            Threshold for the fuzzy search (between 0 and 100). It gives the
            minimum wanted ratio of the most similar substring.
          </li><li>
            <code>fuzzlimit</code> (<code>int</code>, default: 3):
            Limit the number of fuzzy results. Results of stages 1-4 (see
            <code>forcefuzzy</code>) are returned either way. Only if these are
            less then <code>fuzzlimit</code>, the results will be extended with
            fuzzy results (if existing) to have (at most) length <code>fuzzlimit</code>.
            Pass <code>-1</code> to return <i>all</i> results.
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="links">Working with links</h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor" id="links-put-delete">Adding, Deleting</h3>
        <pre>PUT/DELETE '/api/link/between/&lt;string:e1_cat&gt;/&lt;string:e1_elem&gt;/and/&lt;string:e2_cat&gt;/&lt;string:e2_elem&gt;'</pre>
        <p>
          "e1" and "e2" are standing for "element 1" and "element 2" (order doesn't matter).
          "cat" stands for "category", "elem" for "element". PUT will create the link while DELETE will destroy it.
          If you're using not existent categories and/or elements while creating a new link the server will
          automatically create them as needed.
        </p>
        <hr />
        <h3 class="nav-anchor" id="links-get">Getting</h3>
        <p>Call</p>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/links"
             data-api-query-var="null">GET /api/links</pre>
        <p>To get a list of all links. Or</p>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/links/of/"
             data-api-query-var="<string:category_name>/<string:element_name>">GET /api/links/of/&lt;string:category&gt;/&lt;string:element&gt;</pre>
        <p>
          to get a list of all links of a specified element.
          The resulting list will look like this for both calls:
        </p>
        <pre>
[
  [
    [
      "&lt;string:category_name_source&gt;",
      "&lt;string:element_name_source&gt;"
    ],
    [
      "&lt;string:category_name_target&gt;",
      "&lt;string:element_name_target&gt;"
    ]
  ],
  [
    ...
  ]
]
        </pre>
        <p><span class="text-danger">The order (i.e. which element will be source and which target) is not specified!</span></p>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="similarities">Similarities <small>(or second order links)</small></h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor" id="similarities-get">GET</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/similarities"
             data-api-query-var="null">GET /api/similarities</pre>
        <p>
          A list of pairs and their similarity will be returned. Every pair that
          doesn't appear in the list has a similarity of 0 or isn't disjoint.
          The pairwise similarity is defined as
          $s_{i, j} = \frac{|l_i\ \cap\ l_j|}{0.5\ \cdot\ (\ |l_i|\ +\ |l_j|)}$
          where $l_i$ is the set of all links of element $i$. I.e. a measure
          of how many links $i$ and $j$ have on common.
        </p>
        <p>
          The resulting list of triples will look like this:
        </p>
        <pre>
[
  [
    [
      "&lt;string:category_name_1&gt;",
      "&lt;string:element_name_1&gt;"
    ],
    [
      "&lt;string:category_name_2&gt;",
      "&lt;string:element_name_2&gt;"
    ],
    &lt;float:similarity_1_2&gt;
  ],
  [
    ...
  ]
]
        </pre>
        From the formula, one can see that <code>similarity</code> $\in\ [0, 1]$.
        Please note that the pairs are not sensitive to order. If the pair $(i, j)$
        is in the list $(j, i)$ won't.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="diffs">Working with diffs</h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor" id="diffs-querying">Querying</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/diff/query?"
             data-api-query-var="<start/end parameters>">GET /api/diff/query?start=&lt;start&gt;&amp;end=&lt;end&gt;</pre>
        The parameters <code>start</code> and <code>end</code> are expected to
        be timestamps. Default value for start is the first database version.
        Default value for end is the latest database version. You have several
        options to combine the parameters with the <code>ETag</code> header
        (s. <a href="#etag">above</a> for more details):
        <ol>
          <li>
            Nothing is passed.<br />
            This will return a diff from an empty db to the most recent db.
            I.e. this is a dump of the current data base in diff format.
          </li>
          <li>
            Neither start nor end but ETag is passed. Or only end passed.<br />
            Both will result in a diff from an empty db to the version identified by the ETag.
          </li>
          <li>
            Only start is passed.<br />
            This will result in a diff from the specified start to the latest version.
          </li>
          <li>
            start and ETag<br />
            This will result in a diff from the specified start to the version identified by the ETag.
          </li>
          <li>
            end and ETag<br />
            This will result in a diff from the version identified by the ETag to the specified end.
          </li>
          <li>
            start, end and ETag will cause an HTTPException
          </li>
        </ol>

        <hr />

        <h3 class="nav-anchor" id="diffs-structure">Diff results</h3>
        Diff results look like this:
        <pre>
{
  "from": &lt;old_timestamp&gt;,
  "to": &lt;new_timestamp&gt;,
  "deletions": {
    "categories": ["&lt;cat_name1&gt;", "&lt;cat_name2&gt;", ...],
    "elements": [
      [&lt;cat_name&gt;, &lt;elem_name1&gt;],
      ...
    ],
    "links": [
      [
       [&lt;src_cat_name&gt;, &lt;src_elem_name1&gt;],
       [&lt;dest_cat_name&gt;, &lt;dest_elem_name1&gt;]
      ],
      ...
    ]
  },
  "insertions": {
    "categories": [...],
    "elements": [...],
    "links": [...]
  }
}
        </pre>
        Thus an empty diff would look like this:
        <pre>
{
  "from": null,
  "to": null,
  "deletions": {
    "categories": [],
    "elements": [],
    "links": []
  },
  "insertions": {
    "categories": [],
    "elements": [],
    "links": []
  }
}
        </pre>
        Whenever you query a diff starting at an empty db,
        <code>&lt;old_timestamp&gt;</code> will be <code>null</code>.

        <hr />

        <h3 class="nav-anchor" id="diffs-ws">Diffs via WebSocket</h3>
        <p>It is possible to be notified by the server, if the database changes.
        You can find more about this here:
          <a href="#ws-diff">WebSocket > Diff</a></p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="rename">Renaming things</h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor" id="rename-cat">Renaming a category</h3>
        <pre>PUT '/api/rename/&lt;old_name&gt;/to/&lt;new_name&gt;'</pre>
        <p>
          This will rename the category <code>old_name</code> to <code>new_name</code>.
          The call will result in a <code>404</code> error, if you try to rename a not existing
          category and in a <code>400</code> if a category with the name <code>new_name</code>
          already exists.
        </p>
        <p>
          The <a href="#settings">settings</a> for <code>old_name</code> will
          persist but also be copied to <code>new_name</code>.
        </p>

        <hr />

        <h3 class="nav-anchor" id="rename-elem">Renaming an element</h3>
        <pre>PUT '/api/rename/&lt;category&gt;/&lt;old_name&gt;/to/&lt;new_name&gt;'</pre>
        <p>
          This will rename the element <code>old_name</code> in the category
          <code>category</code> to <code>new_name</code>.
          The call will result in a <code>404</code> error, if you try to rename a not existing
          element (i.e. the category or the element does not exist) and in a <code>400</code>
          if an element with the name <code>new_name</code> already exists in the
          specified category.
        </p>
        <pre>PUT '/api/rename/&lt;old_category&gt;/&lt;old_name&gt;/to/&lt;new_category&gt;/&lt;new_name&gt;'</pre>
        <p>
          This will rename the element <code>old_name</code> in the category
          <code>old_category</code> to <code>new_name</code> and move it to
          category <code>new_category</code>.
          The call will result in a <code>404</code> error, if you try to rename a not existing
          element (i.e. the category or the element does not exist) and in a <code>400</code>
          if an element with the name <code>new_name</code> already exists in the
          new category. Furthermore, it will result in a <code>404</code> if the new category
          does not exist.
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="bulk">Bulk actions</h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor">Doing more than one thing at a time</h3>
        <p>If you'd like to e.g. delete a whole bunch of elements or rename
        multiple elements with one request, this is the way to go.</p>
        <pre>POST '/api/bulkaction'</pre>
        <p>The request expects a <code>diff</code> parameter. Such a diff is a
        json object, that looks similar to the diff described <a href="#diffs-structure">here</a>
        except the <code>from</code> and <code>to</code> fields don't exist and
        a key <code>renamings</code> exists.</p>
        <p>This example would rename the category Persons to Person, then
          rename the Person 'Hans' to 'Hans-Peter' and finally delete the link
          between 'Hans-Peter' and the Person 'Karl':</p>
        <pre>
{
  "insertions": {
    "categories": [],
    "elements": [],
    "links": []
  },
  "renamings": {
    "categories": [["Persons", "Person"]],
    "elements": [[["Person", "Hans"], ["Person", "Hans-Peter"]],
                 [["Hobby", "Marwin"], ["Person", "Marvin"]]]
  },
  "deletions": {
    "links": [[["Person", "Hans-Peter"], ["Person", "Karl"]]],
    "elements": [],
    "categories": []
  }
}
        </pre>
        <p>The order in which the single actions are executed is exactly as
          shown above:</p>
        <ol class="nested">
          <li>Insertions
            <ol>
              <li>Categories</li>
              <li>Elements</li>
              <li>Links</li>
            </ol>
          </li>
          <li>Renamings
            <ol>
              <li>Categories</li>
              <li>Elements</li>
            </ol>
          </li>
          <li>Deletions
            <ol>
              <li>Links</li>
              <li>Elements</li>
              <li>Categories</li>
            </ol>
          </li>
        </ol>
        <p>Empty entries can also be left out. So the following diff is
        equivalent to the one above:</p>
        <pre>
{
  "renamings": {
    "categories": [["Persons", "Person"]],
    "elements": [[["Person", "Hans"], ["Person", "Hans-Peter"]],
                 [["Hobby", "Marwin"], ["Person", "Marvin"]]]
  },
  "deletions": {
    "links": [[["Person", "Hans-Peter"], ["Person", "Karl"]]]
  }
}
        </pre>
        <p class="text-warning">If one (or more) of the specified actions fails
        all other actions will be dropped/rolled back as well.</p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="changes">Recent Changes</h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor" id="changes-get">GET</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/recently_changed?"
             data-api-query-var="seconds=<integer>&ignore_if_all=<boolean>">GET /api/recently_changed?seconds=&lt;integer&gt;&ignore_if_all=&lt;boolean&gt;</pre>
        <p>
          This will return a list of recently changed elements and categories.
          &ldquo;Recently&rdquo; is specified by the <code>seconds</code>
          parameter, which can be omitted to use the server side default (which
          is configured individually by the server admin).
          Categories are considered to be changed if they have been added
          recently.
          Elements are considered to be changed if they either
        </p>
        <ul>
          <li>have been added recently,</li>
          <li>new links involving them have been added recently, or</li>
          <li>links involving them have been deleted recently.</li>
        </ul>
        <p>
          The result will be list of <code>[&lt;category&gt;, &lt;element&gt;]</code>
          pairs and <code>category</code> stings, like this:
        </p>
        <pre>
[
  ["&lt;cat_name&gt;", "&lt;change_elem_name&gt;"],
  ["&lt;another_cat_name&gt;", "&lt;another_changed_elem_name&gt;"],
  "&lt;new_cat_name&gt;",
  ...
]
        </pre>
        <p>
          If <code>ignore_if_all</code> is set to <code>true</code> (default)
          the server will return an empty result list, if all elements and all
          categories are considered as recently changed. Set it to
          <code>false</code> to return the full list instead in such cases.
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="user-count">User counter</h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor" id="user-count-get">GET</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/user_count"
             data-api-query-var="null">GET /api/user_count</pre>
        <p>
          The response will contain a positive integer or zero. It is the
          approximated number of users currently "connected" with the server.
          It's basically the number of WebSockets connected to the server.
        </p>

        <hr />

        <h3 class="nav-anchor" id="user-count-ws">WebSocket</h3>
        <p>
          It's possible to get the current number of users with the WebSocket
          provided by the api (<a href="#ws-user-count">WebSocket > User count</a>).
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="ws">WebSocket</h2>
      </div>
      <div class="panel-body">
        <p>
          The API offers a <a href="http://socket.io/">Socket.IO</a> interface.
          To connect to it you may want to use an existing library for your needed
          programming language, as there are some things going on between WebSocket
          and Socket.IO. Different kind of events are sent over the WebSocket. Namely
          <a href="#ws-diff"><code>diff</code></a>,
          <a href="#ws-user-count"><code>user_count</code></a>, and
          <a href="#ws-settings"><code>settings</code></a>
          events (s. below). On connection a diff event will be triggered which
          informs you of the current state of the database. Anyway, you can pass
          an db version (s. <a href="#etag">here</a>) on connect to only obtain
          the diff from that timestamp to the current version (s.
          <a href="http://stackoverflow.com/questions/25083564/socket-io-parameters-on-connection">stack overflow</a>
          or our <a href="#ws-js-client-example">example below</a> on how to achieve that).
        </p>

        <hr />

        <h3 class="nav-anchor" id="ws-diff">Database changes: <code>diff</code> events</h3>
        <p>See <a href="#diffs-structure">Diffs &gt; Structure</a> on how a diff is structured.</p>
        <p>
          When ever the <code>diff</code> event is fired, it will pass an JSON
          encoded diff of the most recent change(s).
        </p>

        <hr />

        <h3 class="nav-anchor" id="ws-user-count">User count: <code>user_count</code> events</h3>
        <p>
          The value will be a positive integer (including 0). Find more information here:
          <a href="#user-count-get">User count > GET</a>.
        </p>

        <hr />

        <h3 class="nav-anchor" id="ws-settings">Settings: <code>settings</code> events</h3>
        <p>Whenever the settings change, this event will be fired.</p>
        <p>
          See <a href="#settings-structure">Settings &gt; Structure</a> on how
          the settings object looks like.
        </p>

        <hr />

        <h3 class="nav-anchor" id="ws-js-client-example">A JavaScript client example</h3>
        <p>Here is a draft of a JavaScript client for the Socket.IO interface:</p>
        <pre>
var socket = io(&#39;http://&lt;server&gt;&#39;, { query: &#39;db_version=&#39;+&#39;&lt;some_version_optional&gt;&#39;});

socket.on('connect', function() {
    socket.on(&#39;diff&#39;, function(data) {
        diff = parseJSON(data);
        doSomethingWithTheDiff(diff);
    });

    socket.on(&#39;user_count&#39;, function(data) {
        userCount = parseInt(data); // parseJSON(data) will work as well here
        updateUserCounter(userCount);
    });
});
        </pre>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="settings">Server side default settings</h2>
      </div>
      <div class="panel-body">
        <p class="text-danger">
          This whole part is not affected by the <a href="#etag">ETag</a>
          specifications. There is no versioning of the settings.
        </p>
        <p>
          The server stores default settings for the visualizations of the clients.<br />
          <span class="text-warning">
            The client must be able to handle "missing" settings and have an own default.
          </span>
        </p>
        <h3 class="nav-anchor" id="settings-get">GET</h3>
        <p>The settings can be queried with</p>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/settings"
             data-api-query-var="null">GET /api/settings</pre>
        <p>It'll return a json object like described
          <a href="#settings-structure">below</a>.
        </p>
        <hr />

        <h3 class="nav-anchor" id="settings-put">PUT</h3>
        <pre>PUT /api/settings</pre>
        <p>
          will update the settings. You must set the header
          <code>Content-Type: application/json</code>
          and send the data as described <a href="#settings-structure">here</a>
          in the request body.<br />
          If you set <code>null</code> as value, the default setting will be removed.<br />
          You can also send only a partial settings object.
        </p>
        <p class="text-info">
          For clarification: Sending an empty object (<code>{}</code>) would be
          a valid action as well since an empty object is a partial settings object too.<br />
          But of course this request would have no effect.
        </p>
        <h4>Example</h4>
        <p>Assume the server side settings look like this:</p>
        <pre>
{
  "sizing": {
    "foo": "none",
    "bar": "links",
    "fb": "links"
  }
}
        </pre>
        <p>If you now PUT this data:</p>
        <pre>
{
  "sizing": {
    "foo": "links",
    "foobar": "none",
    "fb": null
  }
}
        </pre>
        <p>The server side settings will look like this:</p>
        <pre>
{
  "sizing": {
    "foo": "links",
    "bar": "links",
    "foobar": "none"
  }
}
        </pre>
        <hr />

        <h3 class="nav-anchor" id="settings-structure">Data structure</h3>
        <p>The full settings object looks like this:</p>
        <pre>
{
  "sizing": {
    "&lt;cat_name_1&gt;": &lt;sizing_opt_1&gt;,
    "&lt;cat_name_2&gt;": &lt;sizing_opt_2&gt;,
    ...
  },
  "display-priority": {
    "&lt;cat_name_1&gt;": &lt;dp_opt_1&gt;,
    "&lt;cat_name_2&gt;": &lt;dp_opt_2&gt;,
    ...
  },
  "display-type": {
    "&lt;cat_name_1&gt;": &lt;dt_opt_1&gt;,
    "&lt;cat_name_2&gt;": &lt;dt_opt_2&gt;,
    ...
  }
}
        </pre>
        <p>
          Where each <code>cat_name_n</code> may be any string identifying a category.
        </p>
        <ul>
          <li>
            Each <code>sizing_opt_n</code> is either <code>"none"</code> or <code>"links"</code>.<br />
            <code>"none"</code> means all elements should be displayed the same size while
            <code>"links"</code> means that elements should be displayed bigger the more links they have.<br />
          </li>
          <li>
            Each <code>dp_opt_n</code> is an integer (positive or negative).<br />
            It can be understood as analogue to the css property <code>z-index</code>
            but for the displaying order of the categories; the higher the
            <code>display-priority</code> of a category is set the more at the
            beginning it should be displayed. If two categories have the same
            <code>display-priority</code> it's up to the client to find an order.
            If no <code>display-priority</code> is set the client may use
            <code>0</code> as default.
          </li>
          <li>
            Each <code>dt_opt_n</code> is one of <code>"cloud"</code> or <code>"links"</code>.<br />
            <code>"cloud"</code> means that all elements should be displayed in a tag cloud style while
            <code>"links"</code> means that the names should be treated as links
            (see <a href="#intro">conventions</a> for syntax).
          </li>
        </ul>
        <p>
          For <span class="text-danger">PUT request only</span> you also have the option
          to set <code>sizing_opt_n</code> and/or <code>dp_opt_n</code> to <code>null</code>.
          This will cause the given setting to be removed (see <a href="#settings-put">Settings > PUT</a>).
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="nav-anchor" id="io">IO (Import and Export)</h2>
      </div>
      <div class="panel-body">
        <h3 class="nav-anchor" id="io-get">GET (Export)</h3>
        <pre class="api-example"
             data-api-method="GET"
             data-api-url="/api/io"
             data-api-query-var="<string:format>">GET /api/io?format=&lt;string:format&gt;</pre>
        <p>
          <code>format</code> must be <code>csv</code> or <code>excel</code>.
          Default is <code>csv</code>.
        </p>
        <p>
          The method will return a file as attachment. The file is called
          <code>&lt;prefix&gt;-&lt;timestamp of db&gt;.&lt;csv or xlsx&gt;</code> where
          the prefix is some string depending on the server config. The table has
          a header row with 4 columns: <code>Category1,Element1,Category2,Element2</code>.
          Each other row has either the first 1, 2, or 4 columns filled. The first rows
          will contain all links (first 4 columns filled), the next rows will
          contain all elements that have no links (first 2 columns filled), and
          the last rows all categories without any elements (first column filled).
          For more details see <a href="#io-structure">IO &gt; Table Structure</a>.
        </p>
        <p>
          A timestamp can be specified to get a desired version of the database
          (see <a href="#etag">ETag</a>). If none is provided, the latest version
          will be returned.
        </p>
        <hr />

        <h3 class="nav-anchor" id="io-post">POST (Import)</h3>
        <pre>POST /api/csv</pre>
        <p>
          Expects an argument <code>file</code> that contains a multi-part
          encoded file. The content will be <em>added</em> to the database.
          Please see <a href="#io-structure">below</a> on how the file has to be
          structured.
        </p>
        <p>
          Takes an optional argument <code>format</code> that must be
          <code>csv</code> or <code>excel</code>, depending on what file format
          you upload. Default is guessing (inefficient).
        </p>
        <p>The table header (first row) is optional. If present, it will be stripped.</p>
        <p>
          This method allows you to compress the Table as rows with less than 4
          columns will be padded with empty cells. Furthermore, it fills empty
          category cells with the last available category of the column. This,
          for example:
        </p>
        <pre>
cat1,elem1,cat2,elem2
    ,elem3
    ,     ,    ,elem4
    ,elem5,cat1,elem1
        </pre>
        <p>will be translated to:</p>
        <pre>
cat1,elem1,cat2,elem2
cat1,elem3,cat2,
cat1,     ,cat2,elem4
cat1,elem5,cat1,elem1
        </pre>
        <p>The semantics are:</p>
        <ul>
          <li>
            Add a link between <code>[cat1, elem1]</code> and <code>[cat2, elem2]</code>
            and create categories and elements as needed.
          </li>
          <li>
            Add element <code>[cat1, elem3]</code>, category <code>cat2</code>,
            and category <code>cat1</code> if needed.
          <li>
            Add category <code>cat1</code>, element <code>[cat2, elem4]</code>,
            and category <code>cat2</code> if needed.
          </li>
          <li>
            Add a link between <code>[cat1, elem5]</code> and <code>[cat1, elem1]</code>
            and create categories and elements as needed.
          </li>
        </ul>
        <p class="text-info">
          You might have noticed that filling up the category columns causes
          additional actions, but all of those actions will have no effect as
          the corresponding categories would have been created by a previous row
          either way.
        </p>
        <p class="text-danger">
          Note that the first cell of the first row cannot be empty, unless the
          Table is entirely empty.
        </p>
        <hr />

        <h3 class="nav-anchor" id="io-structure">Table Structure</h3>
        <p>The Table has 1..n rows. The first row is the header:</p>
        <code>Category1,Element1,Category2,Element2</code>
        <p>Each other row has 4 columns with either</p>
        <ul>
          <li>first 4 columns filled:
            <code>&lt;cat1&gt;,&lt;elem1&gt;,&lt;cat2&gt;,&lt;elem2&gt;</code><br />
            Representing a link between <code>[cat1, elem1]</code> and <code>[cat2, elem2]</code>,
          </li>
          <li>first 2 columns filled: <code>&lt;cat1&gt;,&lt;elem1&gt;</code><br />
            Representing the element <code>[cat1, elem1]</code>, or
          </li>
          <li>first column filled: <code>&lt;cat1&gt;</code></li>
            Representing category <code>cat1</code>.
        </ul>

        <p>
          Note that the import accepts a compressed form of this table as described
          under <a href="#io-post">IO > POST (Import)</a>.
        </p>

        <hr />

        <h3 class="nav-anchor" id="io-format">IO Format</h3>
        <h4>CSV</h4>
        <p>
          CSV files will be handled with panda's <code>read_csv</code>
          with all the default settings.
        </p>
        <ul>
          <li>Encoding: UTF-8</li>
          <li>Line-Ending: Unix-style (<code>\n</code>), old Mac OS (<code>\r</code>), or Windows-Style (<code>\r\n</code>)</li>
          <li>Delimiter: ,</li>
          <li>Escape Char: None (see quoting)</li>
          <li>QuoteChar: "</li>
          <li>Quoting: Minimal</li>
          <li>Double Quotes: True</li>
        </ul>
        <p>
          More Info:
          <a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html">
            https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
          </a>
        </p>
        <h4>Excel</h4>
        <p>
          Excel import is handled with panda's <code>read_excel</code> and <code>xlrd</code>
          library as engine.
        </p>
        <p>
          More Info:
          <a href="https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html">
            https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html
          </a>
        </p>
      </div>
    </div>

  </div>



  <!-- LIVE-API Modal -->
  <div class="modal fade" id="live-api-modal" tabindex="-1" role="dialog" aria-labelledby="live-api">
    <div class="modal-dialog" role="document">
      <div class="modal-content panel-primary">
        <div class="modal-header panel-heading">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="deleteCategory">Try the API</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="input-group">
              <span class="input-group-addon" id="api-method">GET</span>
              <span class="input-group-addon" id="api-url">http://example.com/</span>
              <input type="text" name="query" class="form-control
                  {% if touch_support %}virtual-keyboard{% endif %}
                  {% if not touch_support %}auto-focus{% endif %}"
                  id="api-var" placeholder="<variable>" />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary run">
                  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
          <div class="result">
            <hr />
            <pre></pre>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger no" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
