{% extends 'helper/base.html' %}

{% set show_user_counter = True %}
{% set show_recently_changed_counter = True %}

{% set loading_at_start = True %}

{% set nav_active = "clouds" %}

{% block extracss %}
  {{ static_tag("/css/clouds.css") }}
  {{ static_tag("/css/libs/fontello/css/fontello.css") }}
{% endblock %}

{% block extrascript %}
  {{ static_tag("/js/clouds.js") }}
{% endblock %}

<!-- edit tool bar -->
{% block navbar_buttons %}
  <li class="multi-select multi-select-or cloud-control"
      title="Select multiple nodes in &quot;or&quot; mode to find out the union of their links.">
    <a role="button" tabindex="0">
      <span class="icon-union" aria-hidden="true"></span><!--
   --><span class="explanation">&nbsp;Multiselect OR</span>
    </a>
  </li>
  <li class="multi-select multi-select-and cloud-control"
      title="Select multiple nodes in &quot;and&quot; mode to find out what they have in common.">
    <a role="button" tabindex="0">
      <span class="icon-intersection" aria-hidden="true"></span><!--
   --><span class="explanation">&nbsp;Multiselect AND</span>
    </a>
  </li>
  <li class="link-mode cloud-control write-action"
      title="Activate link mode to quickly link one selected item with many others. Or just drag and drop to link.">
    <a role="button" tabindex="0">
      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><!--
   --><span class="explanation">Link Mode</span>
    </a>
  </li>
  <li class="move-mode disabled cloud-control write-action"
      title="Allows to move items from one category to another or categories around.">
    <a role="button" tabindex="0">
      <span class="glyphicon glyphicon-move" aria-hidden="true"></span><!--
   --><span class="explanation">Move Mode</span>
    </a>
  </li>
  <li class="time-mode no-interactive-trigger hidden-lg"
      title="Allows you to go back in time.">
    <a role="button" tabindex="0">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span><!--
   --><span class="explanation">Older Versions</span>
    </a>
  </li>
  <li class="time-mode no-interactive-trigger visible-lg"
      title="Allows you to go back in time.">
    <a role="button" tabindex="0">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span><!--
   --><span class="explanation">Older Versions</span>
    </a>
  </li>
  <li><!--
 --><div class="navbar-form">
      <input id="searchbar" type="text" class="search-query form-control
          {% if touch_support %}virtual-keyboard{% endif %}"
             placeholder="Search (Ctrl+F/Cmd+F)" size="30">
      <span id="searchbar-icon" class="glyphicon glyphicon-search"
            aria-hidden="true"></span>
    </div>
  </li>
{% endblock %}

{% block content %}
  <div id="versions-toolbox" class="collapse">
    <div class="slider-container">
      <div class="slider-row">
        <b>History:</b>
        <input id="timeslider-input" data-slider-id="timeslider" type="text" data-slider-min="0" value="" />
      </div>
    </div>
  </div>

  <!-- clouds -->
  <ul id="main" class="container-fluid">
    <li id="example-cloud" class="{{ cloud_classes }} cloud-cell">
      <div class="panel panel-default cloud-panel">
        <div class="panel-heading">
          <h2 class="panel-title">Cloud name</h2>
          <div class="interactive edit-icons">
              <span class="glyphicon glyphicon-plus new" role="button"
                    title="add new" aria-label="add element" tabindex="0"></span>
              <span class="glyphicon glyphicon-pencil rename disabled" tabindex="0"
                    title="rename" role="button" aria-label="rename element"></span>
              <span class="glyphicon glyphicon-trash delete disabled" role="button"
                    title="delete" aria-label="delete element" tabindex="0"></span>
            <span style="margin: 0 10px;"></span>
            <span class="glyphicon glyphicon-cog config-cloud" role="button"
                  aria-label="cloud settings" tabindex="0"></span>
          </div>
        </div>
        <div class="panel-body">
          <div class="cloud"></div>
        </div>
      </div>
    </li>
  </ul>


  <!-- Modals -->
  <!-- Config Category Modal -->
  <div class="modal fade" id="config-category-modal" tabindex="-1" role="dialog" aria-labelledby="configCategory">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="configCategory">Configure category "<span class="cat"></span>"</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger collapse" role="alert"></div>
          <h4>Rename category</h4>
          <div class="input-group">
            <input type="text" name="name" class="form-control
                {% if touch_support %}virtual-keyboard{% endif %}
                {% if not touch_support %}auto-focus{% endif %}">
            <span class="input-group-btn">
              <button class="btn btn-primary rename">rename</button>
            </span>
          </div>
          <hr />
          <h3>Settings</h3>
          <label for="local-sizing">
            <span class="cloud-setting">Tag size:</span>
            <span class="link-list-setting">Link ordering:</span>
          </label>
          <div class="input-group">
            <select class="form-control" id="local-sizing" name="local-sizing">
              <option class="cloud-setting" value="none">all the same size</option>
              <option class="link-list-setting" value="none">unspecified</option>
              <option value="links">depending on relevance</option>
              <option value="recency">depending on creation date</option>
              <option value="null">default</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-primary save-local-sizing" data-dismiss="modal">
                <span class="cloud-setting">change size</span>
                <span class="link-list-setting">change order</span>
              </button>
            </span>
          </div>

          <hr />

          <div id="advanced-cloud-settings" class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#advanced-cloud-settings-body">
                <h3 class="panel-title">
                  Advanced settings
                </h3>
            </div>
            <div id="advanced-cloud-settings-body" class="panel-body panel-collapse collapse">
              <h4>Default settings <small>(server side default)</small></h4>
              <label for="server-sizing">
                <span class="cloud-setting">Tag size:</span>
                <span class="link-list-setting">Link ordering:</span>
              </label>
              <div class="input-group">
                <select class="form-control" id="server-sizing" name="server-sizing">
                  <option class="cloud-setting" value="none">all the same size</option>
                  <option class="link-list-setting" value="none">unspecified</option>
                  <option value="links">depending on relevance</option>
                  <option value="recency">depending on creation date</option>
                  <option value="null">it's up to the client to have a default</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary save-server-sizing" data-dismiss="modal">
                    <span class="cloud-setting">change size</span>
                    <span class="link-list-setting">change order</span>
                  </button>
                </span>
              </div>

              <label for="server-sizing">Display type:</label>
              <div class="input-group">
                <select class="form-control" id="server-display-type" name="server-display-type">
                  <option value="cloud">word cloud</option>
                  <option value="links">list of links</option>
                  <option value="null">it's up to the client to have a default</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary save-server-display-type" data-dismiss="modal">change style</button>
                </span>
              </div>

              <hr />

              <h4>Delete category and all it's elements</h4>
              <button class="btn btn-danger delete" data-dismiss="modal">delete it!</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default no" data-dismiss="modal">abort</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Category Modal -->
  <div class="modal fade" id="delete-category-modal" tabindex="-1" role="dialog" aria-labelledby="deleteCategory">
    <div class="modal-dialog" role="document">
      <div class="modal-content panel-danger">
        <div class="modal-header panel-heading">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="deleteCategory">Delete category "<span class="cat"></span>"</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger collapse" role="alert"></div>
          <p>
            <span class="glyphicon glyphicon-warning-sign modal-warn" aria-hidden="true"></span>
            Do you really want to delete the Category "<span class="cat"></span>",
            all it's elements and their links?
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger yes">toss it all!</button>
          <button class="btn btn-default no" data-dismiss="modal">better not...</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Category Modal -->
  <div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="newCategory">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="newCategory">New category</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger collapse" role="alert"></div>
          <p>Add a category (please use a singular noun):</p>
          <div class="input-group">
            <input type="text" name="name" class="form-control auto-focus
                {% if touch_support %}virtual-keyboard{% endif %}"
                placeholder="e.g. Person, Tag, ..." />
            <span class="input-group-btn">
              <button class="btn btn-primary create">create</button>
            </span>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default no" data-dismiss="modal">abort</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Element Modal -->
  <div class="modal fade" id="delete-element-modal" tabindex="-1" role="dialog" aria-labelledby="deleteElement">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="deleteElement">Delete element</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger collapse" role="alert"></div>
          <p>
            <span class="glyphicon glyphicon-warning-sign modal-warn" aria-hidden="true"></span>
            Do you really want to delete <span class="catelem"></span> and all
            associated links?
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger yes submit">yep, delete 'em!</button>
          <button class="btn btn-default no" data-dismiss="modal">nah, keep 'em.</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Rename Element Modal -->
  <div class="modal fade" id="rename-element-modal" tabindex="-1" role="dialog" aria-labelledby="renameElement">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="renameElement">Rename element</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger collapse" role="alert"></div>
          <p class="cloud-setting">
            Give "<span class="elem"></span>" in "<span class="cat"></span>" a new name:
          </p>
          <p class="link-list-setting">
            Update "<span class="elem"></span>" in "<span class="cat"></span>":
          </p>
          <div class="input-group cloud-setting">
            <input type="text" name="name" class="form-control auto-focus
                {% if touch_support %}virtual-keyboard{% endif %}">
            <span class="input-group-btn">
              <button class="btn btn-primary rename">rename</button>
            </span>
          </div>
          <div class="link-list-setting form-horizontal">
            <div class="form-group">
              <div class="col-xs-5">
                <input type="text" name="title" class="form-control auto-focus
                    {% if touch_support %}virtual-keyboard{% endif %}"
                    placeholder="title" />
              </div>
              <div class="col-xs-5">
                <input type="text" name="url" class="form-control
                    {% if touch_support %}virtual-keyboard{% endif %}"
                    placeholder="url" />
              </div>
              <div class="col-xs-2">
                <button class="btn btn-primary form-control rename col-xs-2">rename</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default no" data-dismiss="modal">abort</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Element w/o Cat Modal -->
  <div class="modal fade" id="new-element-no-category-modal" tabindex="-1" role="dialog" aria-labelledby="deleteElement">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="deleteElement">Select Cloud</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger collapse" role="alert"></div>
          <input type="text" name="name" class="form-control auto-focus single-line
              {% if touch_support %}virtual-keyboard{% endif %}" autocomplete="off" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary select submit">Select</button>
          <button class="btn btn-default no" data-dismiss="modal">abort</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New Element Modal -->
  <div class="modal fade" id="new-element-modal" tabindex="-1" role="dialog" aria-labelledby="newElement">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="newElement">New element</h3>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger collapse" role="alert"></div>
          <p>Add an element to the category "<span class="cat"></span>":</p>
          <input type="hidden" name="bulk-list-marker" />
          <ul class="bulk-list">
            <li class="example">
              <button class="glyphicon glyphicon-trash btn-xs btn-danger delete" aria-hidden="true"
                    title="delete"></button>
              <span class="bulk-element-label"></span>
            </li>
          </ul>
          <div class="cloud-setting">
            <div class="input-group">
              <textarea name="name" class="form-control auto-focus single-line typeahead
                  {% if touch_support %}virtual-keyboard{% endif %}" autocomplete="off"></textarea>
              <span class="input-group-btn">
                <button class="btn btn-primary add">add</button>
              </span>
            </div>
          </div>
          <div class="link-list-setting form-horizontal">
            <div class="form-group">
              <div class="col-xs-5">
                <textarea name="title" class="form-control auto-focus single-line typeahead
                    {% if touch_support %}virtual-keyboard{% endif %}"
                    placeholder="title" autocomplete="off"></textarea>
              </div>
              <div class="col-xs-5">
                <textarea name="url" class="form-control single-line typeahead
                    {% if touch_support %}virtual-keyboard{% endif %}"
                    placeholder="url" autocomplete="off"></textarea>
              </div>
              <div class="col-xs-2">
                <button class="btn btn-primary form-control add-link-elem col-xs-2">add</button>
              </div>
            </div>
          </div>
            <div class="if-selected collapse">
              <input name="add-link" type="checkbox" id="add-link" checked="checked" />
              <label for="add-link">Add Link to <span class="cur-selected"></span></label>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary create">Create</button>
          <button class="btn btn-default no" data-dismiss="modal">abort</button>
        </div>
      </div>
    </div>
  </div>
  <div id="touch-animation-wrapper"{% if demo_hand %} class="with-hand"{% endif %}>
    <div id="touch-animation" class="collapse">
      <div class="touch-animation-rings">
        <div class="outer-touch-ring">
          <div class="inner-touch-ring"></div>
        </div>
      </div>
      <div class="touch-hand"></div>
    </div>
  </div>

{% endblock %}
