{% extends 'helper/base.html' %}

{% set show_user_counter = True %}

{% set nav_active = "graphs" %}

{% block extracss %}
  {{ static_tag("/css/graphs.css") }}
{% endblock %}

{% block extrascript %}
  {{ static_tag("/js/graphs.js") }}
{% endblock %}

<!-- edit tool bar -->
{% block navbar_buttons %}
  <li class="open-graph-controls hidden-lg"
      data-toggle="collapse" data-target=".navbar-collapse"
      title="Change the layout parameters">
    <a role="button">
      <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><!--
   --><span class="explanation permanent">Layout parameters</span>
    </a>
  </li>
  <li class="open-graph-controls visible-lg"
      title="Change the layout parameters">
    <a role="button">
      <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span><!--
   --><span class="explanation permanent">Layout parameters</span>
    </a>
  </li>
{% endblock %}

{% block content %}
  <div id="graph-controls" class="collapse">
    <h3>Force strengths</h3>
    <div class="slider-container">
      <div class="slider-row">
        <b>Charge:</b>
        <input type="text" name="charge-strength" class="force-slider"
               id="slider-charge-strength"
               data-provide="slider"
               data-slider-min="-100"
               data-slider-max="100"
               data-slider-tooltip="hide"
               data-slider-value="-80" />
        <span id="charge-strength-value">-80</span>
      </div>
      <div class="slider-row">
        <b>Links:</b>
        <input type="text" name="link-strength" class="force-slider"
               id="slider-link-strength"
               data-provide="slider"
               data-slider-min="0"
               data-slider-max="2"
               data-slider-step="0.01"
               data-slider-tooltip="hide"
               data-slider-value="0.05" />
        <span id="link-strength-value">0.05</span>
      </div>
      <div class="slider-row">
        <b>Collision:</b>
        <input type="text" name="collision-strength" class="force-slider"
               id="slider-collision-strength"
               data-provide="slider"
               data-slider-min="0"
               data-slider-max="2"
               data-slider-step="0.01"
               data-slider-tooltip="hide"
               data-slider-value="0.05" />
        <span id="collision-strength-value">0.05</span>
      </div>
      <div class="slider-row">
        <b>Multi Focus:</b>
        <input type="text" name="focus-strength" class="force-slider"
               id="slider-focus-strength"
               data-provide="slider"
               data-slider-min="0"
               data-slider-max="2"
               data-slider-step="0.01"
               data-slider-tooltip="hide"
               data-slider-value="0.01" />
        <span id="focus-strength-value">0.01</span>
      </div>
      <div class="slider-row">
        <b>Similarity:</b>
        <input type="text" name="similarity-strength" class="force-slider"
               id="slider-similarity-strength"
               data-provide="slider"
               data-slider-min="0"
               data-slider-max="2"
               data-slider-step="0.01"
               data-slider-tooltip="hide"
               data-slider-value="0.05" />
        <span id="similarity-strength-value">0.05</span>
      </div>
    </div>

    <h3>Forces</h3>
    <div id="force-settings">
      <div class="checkbox" style="display: inline-block">
        <label for="similarity">Use similarities (2<sup>nd</sup> order) instead of links</label>
        <input type="checkbox" id="similarity" name="similarity" class="pull-right checkbox"
               style="position: relative; margin-left: 10px"/>
      </div>

      <div class="select">
        <label for="similarity-function">Similarity Function:</label>
        <select class="form-control" style="width:auto; display:inline-block" id="similarity-function">
          <option value="linear">linear</option>
          <option value="quadratic">quadratic</option>
          <option value="logistic" selected>logistic</option>
        </select>
      </div>
    </div>
  </div>

  <div id="main" class="container">
    <svg class="graph" id="canvas">
      <filter id="gaussianBlur" height="130%">
        <feGaussianBlur in="SourceAlpha" stdDeviation="2.7"/> <!-- stdDeviation is how much to blur -->
        <feOffset dx="0" dy="0" result="offsetblur"/> <!-- how much to offset -->
        <feMerge>
          <feMergeNode/> <!-- this contains the offset blurred image -->
          <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
        </feMerge>
      </filter>
    </svg>
  </div>
{% endblock %}
