{% extends 'helper/base.html' %}

{% set show_user_counter = True %}

{% set nav_active = "io" %}

{% block extrascript %}
  {{ static_tag("/js/io.js") }}
{% endblock %}

{% block content %}
  <div id="main" class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
              Import
            </h3>
          </div>
          <div class="panel-body">
            <p>
              Make sure the uploaded file matches the specified
              <a href="api.html#io-structure">format and structure</a>.
            </p>
            <hr />
            <h3>CSV import</h3>
            <form id="csv-form" class="upload-form"
                  action="/api/io?format=csv" method="post" enctype="multipart/form-data">
              <p>
                <label class="btn btn-default btn-file">
                  Browse <input type="file" style="display: none;" name="file" class="upload-input">
                </label>
                <span class="upload-output">&hellip;</span>
              </p>
              <p>
                <button type="submit" class="btn btn-primary upload-submit">
                  <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                  Upload
                </button>
                <span class="upload-status"></span>
              </p>
            </form>
            <hr />
            <h3>Excel import</h3>
            <form id="excel-form" class="upload-form"
                  action="/api/io?format=excel" method="post" enctype="multipart/form-data">
              <p>
                <label class="btn btn-default btn-file">
                  Browse <input type="file" style="display: none;" name="file" class="upload-input">
                </label>
                <span class="upload-output">&hellip;</span>
              </p>
              <p>
                <button type="submit" class="btn btn-primary upload-submit">
                  <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                  Upload
                </button>
                <span class="upload-status"></span>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
              Export
            </h3>
          </div>
          <div class="panel-body">
            <a href="/api/io?format=csv" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              Download CSV
            </a>
            <a href="/api/io?format=excel" class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              Download Excel
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
