{% extends 'helper/base.html' %}

{% set hide_auth = True %}

{% block extracss %}
  {{ static_tag("/css/login.css") }}
{% endblock %}

{% block main %}
<div class="panel panel-default login-panel">
  <div class="panel-heading">
    <h2 class="panel-title">Team Password</h2>
  </div>
  <div class="panel-body">
    <form action="#" method="post">
      {% block message %}
      {% endblock %}
      {% if password_hint %}
        <p class="help-block">
          HINT: {{ password_hint }}
        </p>
      {% endif %}
      <input type="password" name="password" class="form-control" autofocus
             placeholder="your team password" />
      <hr />
      <input type="submit" value="Login" class="btn btn-primary btn-block" />
    </form>
  </div>
</div>
{% endblock %}
