{% extends 'helper/base.html' %}

{% set show_user_counter = True %}
{% set loading_at_start = True %}

{% set nav_active = "stats" %}

{% block extracss %}
  {{ static_tag("/css/stats.css") }}
{% endblock %}

{% block extrascript %}
  {{ static_tag("/js/stats.js") }}
{% endblock %}

{% block content %}
  <div id="main" class="container-fluid" style="display: none;">
    <div class="row">
      <div class="col-sm-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Elements
            </h3>
          </div>
          <div class="panel-body">
            <table class="elem-stats table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Elements in all <span class="cat-count"></span> Categories</th>
                  <th class="elem-total"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="sample-row hidden" aria-hidden="true">
                  <td>Elements in "<span class="cat-name"></span>"</td>
                  <td class="elem-cat-total"></td>
                </tr>
              </tbody>
            </table>

            <div class="graph-container" id="elems-pie-chart"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Graph metrics
            </h3>
          </div>
          <div class="panel-body">
            <table class="graph-stats table table-bordered table-hover table-striped">
              <tbody>
                <tr>
                  <td>Number of Vertices (Elements)</td>
                  <td class="elem-total"></td>
                </tr>
                <tr>
                  <td>Number of Edges (Links)</td>
                  <td class="link-total"></td>
                </tr>
                <tr>
                  <td>Graph Radius</td>
                  <td class="graph-radius"></td>
                </tr>
                <tr>
                  <td>Graph Radius <small>(only biggest component)</small></td>
                  <td class="graph-radius-biggest-cc"></td>
                </tr>
                <tr>
                  <td>Graph Diameter</td>
                  <td class="graph-diameter"></td>
                </tr>
                <tr>
                  <td>Graph Diameter <small>(only biggest component)</small></td>
                  <td class="graph-diameter-biggest-cc"></td>
                </tr>
                <tr>
                  <td>Graph Density</td>
                  <td class="graph-density"></td>
                </tr>
                <tr>
                  <td>Number of Connected Components</td>
                  <td class="graph-cc-count"></td>
                </tr>
                <tr>
                  <td>Sizes of Components</td>
                  <td class="graph-elem-count-cc"></td>
                </tr>
              </tbody>
            </table>
            <div class="graph-container">
              <h4>Histogram of Degrees</h4>
              <div id="degree-histogram"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
